<div class="video-container" ng-class="{hidden: !inACall}">
    <div class="card local-media"></div>
    <div class="card card-content remote-media"></div>

    <a ng-click="disconnect()" class="call-control btn-floating red">
        <i class="fa fa-phone"></i>
        <span class="sr-only">End call</span>
    </a>
</div>

<div class="contacts" ng-class="{active: inACall}">
    <div class="input-field">
        <input type="text" ng-model="search" id="search" />
        <label for="search">Filter with keywords</label>
    </div>

    <div ng-repeat="item in items|orderBy:'-isActive'|filter:search" class="item" >
        <div class="card ">
            <div class="card-image">
                <img ng-src="{{'avatars/' + item.avatar}}" alt="{{item.name}}" />
            </div>
            <div class="card-action center-align teal">
                <a class="btn-floating waves-effect waves-light green" ng-click="!!item.client_token ? call(item.client_token) : ''" ng-disabled="!item.client_token"><i class="fa fa-phone" aria-hidden="true"></i></a>
                <div class="white-text">{{item.first_name}} {{item.last_name}}</div>
                {{item.client_token || '-'}}
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>