<div class="video-container" ng-class="{hidden: !inACall}">
    <div ng-show="!hidePreview" class="card local-media"></div>
    <div class="card card-content remote-media">
    </div>
</div>
<div class="contacts" ng-class="{active: inACall}">
    <input type="search" ng-model="search" placeholder="Filter" />
    <div ng-repeat="item in items|orderBy:'-isActive'|filter:search" class="item" >
        <div class="card">
            <div class="card-content row">
                <div class="col s3">
                    <img ng-src="{{item.avatar}}" style="max-height: 40px;" class="responsive-img" />
                </div>
                <div class="col s9">
                    <div class="card-title left">
                        {{item.name}}
                    </div>
                    <a ng-class="{hide: !item.isActive}" ng-click="call(item.client_token)" class="right" href="#" ><i class="fa fa-phone fa-3x" ></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>