.video-container{
  float: right;
  margin-left:10px;
  position: relative;
  border: dotted 1px #dedede;
  width: 70%;
  transition: all 0.3s linear;
  &:after{
    content: '';
    clear: both;
    display: block;
  }

  .remote-media{
    width: 100%;
    & > div{
      float: left;
    }
  }

  .local-media{
    position: absolute;
    bottom: 25px;
    right: 25px;
    height: 15%;
    width: 15%;
    z-index: 2;
  }

  &.hidden{
    display: none;
  }

  .call-control{
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 10;
  }


  @media screen and (max-width: 768px){
    width: 100%;
    float: none;
    margin: 0;
    margin-bottom: 20px;
  }
}