.contacts{
  margin: 0 -5px 10px;
  width: 100%;
  transition: all 0.3s linear;

  & > .item {
    display: inline-block;
    width: unquote((100 / 4) + "%");
    padding: 0 5px 10px;
    @media screen and (min-width: 480px) and (max-width: 768px) {
      width: unquote((100 / 2) + "%");
    }

    @media screen and (max-width: 480px) {
      width: 100%;
    }
    .card{
      .card-image{
        text-align: center;
        img{
          max-height: 120px;
          width: auto;
          display: inline-block;
        }
      }
      .card-action{
        padding: 10px;
        position:relative;
        .btn-floating{
          position: absolute;
          top: -20px;
          right: 20px;
          i{
            font-size: 10px;
          }
        }
      }
    }
  }
  &.active{
    width: 30%;
    float: left;
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    & > .item{
      width: 100%;
    }

    @media screen and (max-width: 768px){
      width: 100%;
      float: none;
      margin: 0;
    }
  }
}