@charset "UTF-8";

html, body{
  min-height: 100%;
}
body {
  font-family: 'Lato';
}

.fa-btn {
  margin-right: 6px;
}
video,audio,canvas{
    height: 100%;
    width: 100%;
}

@import "../../../bower_components/toastr/toastr.scss";
@import 'calls';