<div class="row">
    <div ng-repeat="item in items" class="col-md-3 col-sm-6 col-xs-6" style="margin-bottom: 30px;">
        <div class="text-center">

            <p><img class="img-circle" ng-src="{{ 'avatar' | url }}?id={{item.id}}" style="height: 50px"/></p>
            <p>{{ item.name }}</p>
            {{item.email}}
        </div>
        <div class="text-center">
            <div class="btn-group">
                <a ng-click="call(item.id)" href="#"
                   class="btn btn-xs btn-success" ng-disabled="!item.active"> <i class=" fa fa-phone"></i> Call </a>
                <a href="#eye" class="btn btn-xs btn-warning"><i class=" fa fa-eye"></i>
                    Details </a>
            </div>
        </div>
    </div>
</div>